
body {
    background-color: beige;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 400px;
    border: 4px solid purple;
    padding: 1px;
}

h1 {
    font-family: "Climate Crisis", "Courier New", Arial;
    font-size: 40px;
    text-align: center;
    border: 2px solid black;
    padding: 5px;
    background-color: orange;
}

h2 {
    font-size: 30px;
    font-family: "Rubik Iso", Arial;
    background-color: black;
    color: white;
    text-align: center;
}

h3 {
    text-align: right;
    padding-right: 20px;
}
figcaption {
    margin: 10px;
    text-align: center;
     
}

p {
    font-family: Arial;
    background-color: lightblue;
    font-size: 20px;
    padding: 5px;
}

ul {
    list-style-type: circle;
    background-color: lightblue;
    padding: 5px;

}

ol {
    list-style-type: decimal-leading-zero;
    background-color: lightgreen;
}

li {
    list-style-position: inside;
    font-size: 1.2em;
    /* margin-left: 1em; */
}
